body{
    background-image: url(cover1.jpg);
}
div{
    height: 450px;
    width: 33.333%;
    }
    #d1{
        background-color: gold;
        float: left;
            }
    #d2{
                background-color: gold;
                float: left;
                    }
    #d3{
        background-color:gold;
        float: left;
        }
    p1{
        background-color: greenyellow;
    }
    #a1{
        background-color:gray;
        float: left;
            }
    #a2{
                background-color:gray;
                float: left;
                    }
    #a3{
        background-color: gray;
        float: right;
            }
    #p2{
        height: 20px;
    }
    .customers{
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
    }
    .dropdown-men1{
       display: none;
       position:fixed;
        background-color: bisque;
        min-width: 360px;
    }
    .dropdown-men1 a{
        color: rgb(43, 226, 125);
        display: block;
    }
    .dropdown-men1 a:hover{
        background-color: rgb(95, 42, 165);
    }
    .dropdown:hover .dropdown-men1{
        display: block;
    }
    .dropdown-men2{
        display: none;
        position:fixed;
         background-color: bisque;
         min-width: 360px;
     }
     .dropdown-men2 a{
         color: rgb(43, 226, 125);
         display: block;
     }
     .dropdown-men2 a:hover{
         background-color: rgb(85, 42, 165);
     }
     .dropdown1:hover .dropdown-men2{
         display: block;
     }
     .dropdown-men3{
        display: none;
        position:fixed;
         background-color: bisque;
         min-width: 360px;
     }
     .dropdown-men3 a{
         color: rgb(43, 226, 125);
         display: block;
         
     }
     .dropdown-men3 a:hover{
         background-color: rgb(89, 42, 165);
     }
     .dropdown2:hover .dropdown-men3{
         display: block;
     }